body {
  background: #1c83e4;
  color: #fff;
  letter-spacing: 1px;
}

header {
  margin: 20px;
  text-align: center;
}

.success {
  color: #0ff40f;
}

.error {
  color: #960303;
}

.login {
  position: absolute;
  left: 2ex;
  color: red;
}
footer {
  margin-top: 5%;
  color: black;
  font-size: 18px;
  width: 100%;
}

.sub {
  margin-top: 2%;
}
